### Strings and integers

In [64]:
 'hi babe'

'hi babe'

In [5]:
1+2

3

hey there! I'm using markdown for the first time
Lets work with integers and string variables in Python

In [1]:
1+1

2

In [2]:
1/1

1.0

In [3]:
3/2

1.5

In [4]:
4%3

1

In [5]:
7%2

1

In [6]:
# Now strings

In [8]:
print('hey its me again')

hey its me again

In [9]:
name = 'Srinivas Racherla'
age = 33

In [25]:
print("my name is {one}, and my age is {two}, and i'm walking the earth for {two} years".format(two=age, one=name))

my name is Srinivas Racherla, and my age is 33, and i'm walking the earth for 33 years

### Indexing here!!!

In [26]:
mystring = 'hey there its raining tonight'

In [24]:
print(mystring[10:])

its raining tonight

### Lets begin Lists datatype in Python!

In [37]:
my_list = ['q','r','t','keyboard']
print(my_list[:])

['q', 'r', 't', 'keyboard']

In [38]:
my_list.append('mouse')

In [39]:
print(my_list[:])

['q', 'r', 't', 'keyboard', 'mouse']

**Help me grab that mouse now :D**

In [41]:
print(my_list[4])

mouse

**Nested lists**

In [51]:
nested_list = [1,2,'he is jackass', 200,['no he is not', 1000, ['yes he is assole', 250]]]

*now lets get 'yes he is assole' text out*

In [52]:
nested_list[4]

['no he is not', 1000, ['yes he is assole', 250]]

In [53]:
nested_list[4][2]

['yes he is assole', 250]

In [58]:
print(nested_list[4][2][0])

yes he is assole

### Dictionaries

Key value pairs that are represented by curly braces

In [60]:
d = {'k1':{'inner key':[1,2,3]}}

In [61]:
d['k1']

{'inner key': [1, 2, 3]}

In [62]:
d['k1']['inner key'][1]

2

### Tuples

Lists are mutable but Tuples are immutable (doesn't support item assignment)

In [63]:
my_tuple = (23,45,666)
my_tuple

(23, 45, 666)

### Sets

Sets are collection of unique elements; Only returns the unique values from the items, set() function used for the same too

In [65]:
{1,2,45,698}

{1, 2, 45, 698}

In [66]:
{11,24,425,98,11, 25,98}

{11, 24, 25, 98, 425}

### Loops

In [70]:
her_list = [23,22,345,987,'hey there']
for i in her_list:
    print(i)

23
22
345
987
hey there

In [73]:
age = 2
while age < 12:
    print("his age is now {} and grows by 1 each year".format(we))
    age = age +1

his age is now 12 and grows by 1 each year
his age is now 12 and grows by 1 each year
his age is now 12 and grows by 1 each year
his age is now 12 and grows by 1 each year
his age is now 12 and grows by 1 each year
his age is now 12 and grows by 1 each year
his age is now 12 and grows by 1 each year
his age is now 12 and grows by 1 each year
his age is now 12 and grows by 1 each year
his age is now 12 and grows by 1 each year

### Functions

In [84]:
def my_func(param1 = 10):
    print(param1**5)

In [86]:
my_func(4)

1024

In [101]:
def sum_func(param):
    """
THIS IS A DOC STRING
THIS FUNCTION ADDS 99 TO THE PASSED PARAMETER
OVER!    
    """
    return param+99

In [104]:
new_sum = sum_func(101)

In [105]:
new_sum

200

In [118]:
def times4(var):
    """
    times4 is the user function here
    """
    return var*4

In [122]:
list_2 = [2,4,8,4]

Applying the function times4 on list_2

### map function

In [125]:
# map
new_list_2 = list(map(times4,list_2))

In [126]:
new_list_2

[8, 16, 32, 16]

### lamda expression

In [119]:
def times7(somevar):
    return somevar*7

In [120]:
def times7(somevar): return somevar*7

In [121]:
lambda somevar:somevar*7

In [129]:
list(map(lambda somevar2:somevar2*8, list_2))

[16, 32, 64, 32]

### filter

In [130]:
some_list = [2,4,5,34,98,21]

In [131]:
list(filter(lambda newvar: newvar%2 == 0, some_list))

[2, 4, 34, 98]

### Methods

In [132]:
stringg = 'hi my name is slim shady'

In [135]:
stringg.upper()

'HI MY NAME IS SLIM SHADY'

In [136]:
stringg.split()

['hi', 'my', 'name', 'is', 'slim', 'shady']

In [137]:
dictt = {'key1':23, 'key2':24}

In [138]:
dictt.items()

dict_items([('key1', 23), ('key2', 24)])

In [139]:
dictt.keys()

dict_keys(['key1', 'key2'])

In [140]:
dictt.values()

dict_values([23, 24])

In [147]:
listt = [2,3,4,88,34]
listt.pop()

34

In [148]:
listt.pop()

88

### tuple unpacking

In [149]:
mytup = [(1,2),(2,3),(65,23)]

In [151]:
for a,b in mytup:
    print(a)
    print(b)

1
2
2
3
65
23